<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin - Users</title>
</head>
<body>

<div class="container-fluid d-flex flex-row align-items-center justify-content-between p-3 bg-dark text-white">
    <div><b sec:authentication="name"/> with roles:
        <th:block th:each="role : ${#authentication.authorities}">
            &nbsp;<span th:text="${role.getAuthority()}"/>
        </th:block>
    </div>
    <div><a class="text-light" th:href="@{/logout} ">Logout</a></div>
</div>
<!-- Navigation -->
<div class="container-fluid row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column nav-pills border-0" id="myTab3" role="tablist">
                <li class="nav-item text-left" role="presentation" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" id="admin-tab" data-bs-toggle="pill" data-bs-target="#admin" type="button"
                       role="pill" aria-controls="admin" aria-selected="false">Admin</a>
                </li>
                <li class="nav-item" role="presentation" sec:authorize="hasAuthority('USER')">
                    <a class="nav-link" id="user-tab" data-bs-toggle="pill" data-bs-target="#user" type="button"
                       role="pill" aria-controls="user" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user">
        <h2 class="sub-header">User info</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>